<div class="flex max-w-full mx-28">
    <form [formGroup]="manageCourseForm" (ngSubmit)="onSubmit()">
        <!-- First three screens -->
        <div class="max-w-7xl mx-auto mt-11 ">

            <div class="grid sm:grid-cols-6 gap-8 ">
                <div class="col-span-1">
                    <label class="font-bold">Plan your Course</label>
                    <div class="space-y-5 mb-4">
                        <div class="relative flex items-start">
                            <div class="flex h-6 items-center">
                                <input id="comments" aria-describedby="comments-description" name="comments"
                                    type="checkbox"
                                    class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                            </div>
                            <div class="ml-3 text-sm leading-6">
                                <label for="comments" class="font-medium text-gray-900">Intended Learners</label>
                                <p id="comments-description" class="text-gray-500">Get notified when someones posts a
                                    comment on a posting.</p>
                            </div>
                        </div>
                        <div class="relative flex items-start">
                            <div class="flex h-6 items-center">
                                <input id="candidates" aria-describedby="candidates-description" name="candidates"
                                    type="checkbox"
                                    class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                            </div>
                            <div class="ml-3 text-sm leading-6">
                                <label for="candidates" class="font-medium text-gray-900">Curriculum</label>
                                <p id="candidates-description" class="text-gray-500">Get notified when a candidate
                                    applies for a job.</p>
                            </div>
                        </div>
                        <div class="relative flex items-start">
                            <div class="flex h-6 items-center">
                                <input id="offers" aria-describedby="offers-description" name="offers" type="checkbox"
                                    class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                            </div>
                            <div class="ml-3 text-sm leading-6">
                                <label for="offers" class="font-medium text-gray-900">Course Landing Page</label>
                                <p id="offers-description" class="text-gray-500">Get notified when a candidate accepts
                                    or rejects an offer.</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-span-5 p-10 shadow-lg rounded-md ">
                    <div class="flex justify-between">
                        <div class="text-4xl font-serif">
                            Course landing page
                        </div>
                    </div>
                    <div class="font-normal mt-4">
                        Your course landing page is crucial to your success on LMS. If it’s done right, it can also
                        help you gain visibility in search engines like Google. As you complete this section, think
                        about creating a compelling Course Landing Page that demonstrates why someone would want to
                        enroll in your course. Learn more about creating your course landing page and course title
                        standards.
                    </div>
                    <div class="mt-2">
                        <label for="email" class="block text-sm font-bold leading-6 text-gray-900">Course title</label>
                        <div class="mt-2">
                            <input type="text" name="title" id="title" formControlName="title"
                                class="block w-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-black placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                placeholder="you@example.com">

                                <div *ngIf="form.title.errors && isSubmit">
                                    <div *ngIf="form.title.errors.required" class="">
                                        <p class="mt-2 text-xs text-red-500">
                                            Course title is required
                                        </p>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <label for="email" class="block text-sm font-bold leading-6 text-gray-900">Course subtitle
                        </label>
                        <div class="mt-2">
                            <input type="text" name="subTitle" id="subTitle" formControlName="subTitle"
                                class="block w-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-black placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                placeholder="you@example.com">
                                <div *ngIf="form.subTitle.errors && isSubmit">
                                    <div *ngIf="form.subTitle.errors.required" class="">
                                        <p class="mt-2 text-xs text-red-500">
                                            Course sub title is required
                                        </p>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <label for="email" class="block text-sm font-bold leading-6 text-gray-900">Course description
                        </label>
                        <div class="mt-2">
                            <input type="text" name="desc" id="desc" formControlName="desc"
                                class="block w-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-black placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                placeholder="you@example.com">

                                <div *ngIf="form.desc.errors && isSubmit">
                                    <div *ngIf="form.desc.errors.required" class="">
                                        <p class="mt-2 text-xs text-red-500">
                                            Course description is required
                                        </p>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-4 gap-4">
                        <div class="col-span-1">

                            <label for="email" class="block text-sm font-bold leading-6 mt-2 text-gray-900">Basic
                                Info</label>
                            <div class="">
                                <input type="text" name="language" id="language" formControlName="language"
                                    class="block w-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-black placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                    placeholder="Language">
                                    <div *ngIf="form.language.errors && isSubmit">
                                        <div *ngIf="form.language.errors.required" class="">
                                            <p class="mt-2 text-xs text-red-500">
                                                Language is required
                                            </p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-span-1 mt-8">
                            <input type="text" name="level" id="level" formControlName="level"
                                class="block w-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-black placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                placeholder="Level">
                                <div *ngIf="form.level.errors && isSubmit">
                                    <div *ngIf="form.level.errors.required" class="">
                                        <p class="mt-2 text-xs text-red-500">
                                             Level is required
                                        </p>
                                    </div>
                                </div>
                        </div>
                        <div class="col-span-1 mt-8">
                            <input type="text" name="category" id="category" formControlName="category"
                                class="block w-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-black placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                placeholder="Category">

                                <div *ngIf="form.category.errors && isSubmit">
                                    <div *ngIf="form.category.errors.required" class="">
                                        <p class="mt-2 text-xs text-red-500">
                                            Category is required
                                        </p>
                                    </div>
                                </div>


                        </div>
                        <div class="mt-8">
                            <input type="text" name="subCategory" id="subCategory" formControlName="subCategory"
                                class="block w-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-black placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                placeholder="Sub-Category">
                                <div *ngIf="form.subCategory.errors && isSubmit">
                                    <div *ngIf="form.subCategory.errors.required" class="">
                                        <p class="mt-2 text-xs text-red-500">
                                            Sub Category is required
                                        </p>
                                    </div>
                                </div>
                        </div>
                        <div class=" col-span-1 ">
                            <input type="text" name="price" id="price" formControlName="price"
                                class="block w-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-black placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                placeholder="Price">

                                <div *ngIf="form.price.errors && isSubmit">
                                    <div *ngIf="form.price.errors.required" class="">
                                        <p class="mt-2 text-xs text-red-500">
                                            Price is required
                                        </p>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="mt-2">

                        <label class="block mb-2 text-sm font-bold text-gray-900 " for="file_input">Upload
                            Cover Photo</label>
                        <input class="btn-primary bg-white text-gray-900" id="file_input" type="file">

                    </div>
                </div>

            </div>
        </div>
        <div class="mt-6 flex items-end justify-end gap-x-6">
            <button type="submit" class="btn-primary">Save</button>
        </div>
    </form>
</div>