<div class="max-w-8xl mx-auto">
    <div class="mx-auto max-w-7xl">

        <div class="font-serif text-4xl mt-12 text-center">
            How about a working title?
            <span class="block text-sm mt-4 text-center">It's ok if you can't think of a good title now. You can change
                it later.

            </span>
        </div>
        <!-- First three screens -->
        <div class="max-w-7xl mx-auto mt-11 ">

            <div class="grid sm:grid-cols-1 gap-8 ">
                <div>
                    <div class="mt-2 col-span-1">
                        <input type="email" name="email" id="email"
                            class="block w-full border-1 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-black placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6"
                            placeholder="e.g. Learn JavaScript in 60 Days">
                    </div>
                </div>
            </div>

        </div>
        <div class="mt-6 flex items-end justify-end gap-x-6">
            <button type="submit" class="btn-primary" routerLink="/add-course/3">Continue</button>
        </div>
    </div>