<div class="max-w-7xl mx-auto">
    <div>
        <!-- First three screens -->
        <div class="max-w-7xl mx-auto mt-11 ">

            <div class="grid sm:grid-cols-6 gap-8 ">
                <div class="col-span-1">
                    <label class="font-bold">Plan your Course</label>
                    <div class="space-y-5 mb-4">
                        <div class="relative flex items-start">
                            <div class="flex h-6 items-center">
                                <input id="comments" aria-describedby="comments-description" name="comments"
                                    type="checkbox"
                                    class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                            </div>
                            <div class="ml-3 text-sm leading-6">
                                <label for="comments" class="font-medium text-gray-900">Comments</label>
                                <p id="comments-description" class="text-gray-500">Get notified when someones posts a
                                    comment on a posting.</p>
                            </div>
                        </div>
                        <div class="relative flex items-start">
                            <div class="flex h-6 items-center">
                                <input id="candidates" aria-describedby="candidates-description" name="candidates"
                                    type="checkbox"
                                    class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                            </div>
                            <div class="ml-3 text-sm leading-6">
                                <label for="candidates" class="font-medium text-gray-900">Candidates</label>
                                <p id="candidates-description" class="text-gray-500">Get notified when a candidate
                                    applies for a job.</p>
                            </div>
                        </div>
                        <div class="relative flex items-start">
                            <div class="flex h-6 items-center">
                                <input id="offers" aria-describedby="offers-description" name="offers" type="checkbox"
                                    class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                            </div>
                            <div class="ml-3 text-sm leading-6">
                                <label for="offers" class="font-medium text-gray-900">Offers</label>
                                <p id="offers-description" class="text-gray-500">Get notified when a candidate accepts
                                    or rejects an offer.</p>
                            </div>
                        </div>
                    </div>
                    <label class="font-bold mt-4">Create your content
                    </label>
                    <div class="space-y-5">
                        <div class="relative flex items-start">
                            <div class="flex h-6 items-center">
                                <input id="comments" aria-describedby="comments-description" name="comments"
                                    type="checkbox"
                                    class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                            </div>
                            <div class="ml-3 text-sm leading-6">
                                <label for="comments" class="font-medium text-gray-900">Comments</label>
                                <p id="comments-description" class="text-gray-500">Get notified when someones posts a
                                    comment on a posting.</p>
                            </div>
                        </div>
                        <div class="relative flex items-start">
                            <div class="flex h-6 items-center">
                                <input id="candidates" aria-describedby="candidates-description" name="candidates"
                                    type="checkbox"
                                    class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                            </div>
                            <div class="ml-3 text-sm leading-6">
                                <label for="candidates" class="font-medium text-gray-900">Candidates</label>
                                <p id="candidates-description" class="text-gray-500">Get notified when a candidate
                                    applies for a job.</p>
                            </div>
                        </div>
                        <div class="relative flex items-start">
                            <div class="flex h-6 items-center">
                                <input id="offers" aria-describedby="offers-description" name="offers" type="checkbox"
                                    class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                            </div>
                            <div class="ml-3 text-sm leading-6">
                                <label for="offers" class="font-medium text-gray-900">Offers</label>
                                <p id="offers-description" class="text-gray-500">Get notified when a candidate accepts
                                    or rejects an offer.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span-5 p-10 shadow-lg rounded-md ">
                    <div class="flex justify-between">
                        <div class="text-4xl font-serif">
                            Curriculum
                        </div>
                        <div>
                            <button class="btn-primary"> Bulk Uploader</button>
                        </div>
                    </div>
                    <div class="font-normal mt-4">
                        Start putting together your course by creating sections, lectures and practice (quizzes, coding
                        exercises and assignments).
                    </div>
                    <div class="font-normal">
                        Start putting together your course by creating sections, lectures and practice activities
                        (quizzes, coding exercises and assignments). Use your course outline to structure your content
                        and label your sections and lectures clearly. If you’re intending to offer your course for free,
                        the total length of video content must be less than 2 hours.
                    </div>

                    <div class="mt-4 ring-1 ring-black bg-gray-100/40">
                        <div class="font-medium p-2">
                            Section 1: <span class="font-normal">Introduction</span>
                            <div class="ring-1 ring-black m-6 flex justify-between">
                                <div class="font-medium p-2">
                                    Lecture 1: <span class="font-normal">Introduction</span>
                                </div>
                                <div>
                                    <button class="btn-primary">+ Content</button>
                                </div>
                            </div>
                            <div class="p-2">
                                <button class="btn-primary p-2"> + Curriculum item</button>
                            </div>
                        </div>

                    </div>
                    <div class="mt-2">
                        <button class="btn-primary p-2">+ Section</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-6 flex items-end justify-end gap-x-6">
            <button type="submit" class="btn-primary" routerLink="/add-course/6">Continue</button>
        </div>
    </div>