<div class="flex max-w-full mx-28">
    <div>
        <!-- First three screens -->
        <div class="max-w-7xl mx-auto mt-11 ">

            <div class="grid sm:grid-cols-6 gap-8 ">
                <div class="col-span-1">
                    <label class="font-bold mb-4">Plan your Course</label>
                    <div class="space-y-5 mt-3 mb-5">
                        <div class="relative flex items-start">
                            <div class="flex h-6 items-center">
                                <input id="comments" aria-describedby="comments-description" name="comments"
                                    type="checkbox"
                                    class="h-6 w-6 rounded-full border-black text-indigo-600 focus:ring-indigo-600">
                            </div>
                            <div class="ml-3 text-sm leading-6">
                                <label for="comments" class="font-medium text-gray-900">Intended Learners</label>
                            </div>
                        </div>
                        <div class="relative flex items-start">
                            <div class="flex h-6 items-center">
                                <input id="candidates" aria-describedby="candidates-description" name="candidates"
                                    type="checkbox"
                                    class="h-6 w-6 rounded-full border-black text-indigo-600 focus:ring-indigo-600">
                            </div>
                            <div class="ml-3 text-sm leading-6">
                                <label for="candidates" class="font-medium text-gray-900">Course Structure</label>

                            </div>
                        </div>
                        <div class="relative flex items-start">
                            <div class="flex h-6 items-center">
                                <input id="offers" aria-describedby="offers-description" name="offers" type="checkbox"
                                    class="h-6 w-6 rounded-full border-black text-indigo-600 focus:ring-indigo-600">
                            </div>
                            <div class="ml-3 text-sm leading-6">
                                <label for="offers" class="font-medium text-gray-900">Setup & test video</label>
                            </div>

                        </div>
                    </div>
                    <label class="font-bold ">Create your content</label>
                    <div class="space-y-5 mt-3">
                        <div class="relative flex items-start">
                            <div class="flex h-6 items-center">
                                <input id="comments" aria-describedby="comments-description" name="comments"
                                    type="checkbox"
                                    class="h-6 w-6 rounded-full border-black text-indigo-600 focus:ring-indigo-600">
                            </div>
                            <div class="ml-3 text-sm leading-6">
                                <label for="comments" class="font-medium text-gray-900">Film & Edit</label>
                            </div>
                        </div>
                        <div class="relative flex items-start">
                            <div class="flex h-6 items-center">
                                <input id="candidates" aria-describedby="candidates-description" name="candidates"
                                    type="checkbox"
                                    class="h-6 w-6 rounded-full border-black text-indigo-600 focus:ring-indigo-600">
                            </div>
                            <div class="ml-3 text-sm leading-6">
                                <label for="candidates" class="font-medium text-gray-900">Curriculum</label>
                            </div>
                        </div>
                        <div class="relative flex items-start">
                            <div class="flex h-6 items-center">
                                <input id="offers" aria-describedby="offers-description" name="offers" type="checkbox"
                                    class="h-6 w-6 rounded-full border-black text-indigo-600 focus:ring-indigo-600">
                            </div>
                            <div class="ml-3 text-sm leading-6">
                                <label for="offers" class="font-medium text-gray-900">Captions (Optional)</label>
                            </div>
                        </div>
                        <div class="relative flex items-start">
                            <div class="flex h-6 items-center">
                                <input id="offers" aria-describedby="offers-description" name="offers" type="checkbox"
                                    class="h-6 w-6 rounded-full border-black text-indigo-600 focus:ring-indigo-600">
                            </div>
                            <div class="ml-3 text-sm leading-6">
                                <label for="offers" class="font-medium text-gray-900">Accessibility (Optional)</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span-5 p-10 shadow-lg rounded-md ">
                    <div>
                        <div class="flex justify-between">
                            <div class="text-4xl font-serif">
                                Curriculum
                            </div>
                            <div>
                                <button class="btn-primary"> Bulk Uploader</button>
                            </div>
                        </div>
                        <div class="font-normal mt-4">
                            Start putting together your course by creating sections, lectures and practice (quizzes,
                            coding
                            exercises and assignments).
                        </div>
                        <div class="font-normal">
                            Use your course outline to structure your
                            content
                            and label your sections and lectures clearly. If you’re intending to offer your course for
                            free,
                            the total length of video content must be less than 2 hours.
                        </div>

                        <div class="mt-4 ring-1 ring-black bg-gray-100/40">
                            <div class="font-medium p-2">
                                Section 1: <span class="font-normal">Introduction</span>
                                <div class="ring-1 ring-black m-6 flex justify-between">
                                    <div class="font-medium p-2">
                                        Lecture 1: <span class="font-normal">Introduction</span>
                                    </div>
                                    <div>
                                        <button class="btn-primary">+ Content</button>
                                    </div>
                                </div>
                                <div *ngIf="isCurriculumItem === true">
                                    <div class="border border-dashed border-black m-6 flex space-x-10">
                                        <button class="font-medium p-2" (click)="addAssignment()">
                                            +Assignment
                                            <div class=" border border-dashed border-black m-6 flex justify-center"
                                                *ngIf="isAssignment === true">
                                                <div class="font-medium p-2 ">
                                                    Lecture 1: <span class="font-normal">Introduction</span>
                                                </div>

                                                <button class="btn-primary ">
                                                    Add Lecture
                                                </button>

                                            </div>
                                        </button>
                                        <div class="font-medium p-2" *ngIf="isHidden">
                                            +Quiz
                                        </div>
                                        <div class="font-medium p-2" *ngIf="isHidden">
                                            +Lecture
                                        </div>
                                        <div class="font-medium p-2" *ngIf="isHidden">
                                            +Exercise
                                        </div>
                                    </div>
                                </div>
                                <div class="p-2">
                                    <button class="btn-primary p-2" (click)="addCurriculumItem()"> + Curriculum
                                        item</button>
                                </div>
                            </div>

                        </div>

                        <div class="mt-4 ring-1 ring-black bg-gray-100/40" *ngIf="isNewSection === true">
                            <div class="font-medium p-2">
                                Section 1: <span class="font-normal">Introduction</span>
                                <div class="ring-1 ring-black m-6 flex justify-between">
                                    <div class="font-medium p-2">
                                        Lecture 1: <span class="font-normal">Introduction</span>
                                    </div>
                                    <div>
                                        <button class="btn-primary">+ Content</button>
                                    </div>
                                </div>
                                <div class="p-2">
                                    <button class="btn-primary p-2"> + Curriculum item</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="mt-2">
                        <button class="btn-primary p-2" (click)="addSection()">+
                            Section</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-6 flex items-end justify-end gap-x-6">
            <button type="submit" class="btn-primary" routerLink="/add-course/6">Continue</button>
        </div>
    </div>