<div class="max-w-7xl mx-auto">
    <div>
        <div class="font-serif text-4xl mt-12">
            First, let's find out what type of course you're making.
        </div>
        <!-- First three screens -->
        <div class="max-w-7xl mx-auto mt-11 ">
            <div class="grid sm:grid-cols-2 gap-8">
                <div class="p-20 shadow-sm ring-1 ring-black ">
                    <div class="flex justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15.91 11.672a.375.375 0 010 .656l-5.603 3.113a.375.375 0 01-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112z" />
                        </svg>
                    </div>
                    <div class="font-bold text-2xl text-center">Course</div>
                    <div class="block text-gray-900 font-normal text-center">Create rich learning experiences with the
                        help of view
                        lectures, quizzes, coding exercises, etc</div>
                </div>
                <div class="p-20 shadow-sm ring-1 ring-black ">
                    <div class="flex justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
                        </svg>

                    </div>
                    <div class="font-bold text-2xl text-center">Practice Test</div>
                    <div class="block text-gray-900 font-normal text-center">Help Students prepare for certification
                        exams by providing practice questions</div>
                </div>
            </div>
        </div>
        <div class="mt-6 flex items-end justify-end gap-x-6">
            <button type="submit" class="btn-primary" routerLink="/add-course/2">Continue</button>
        </div>
    </div>